.cover {
  background-image: url('/cover.jpg') !important;
  background-size: cover !important;
  padding: 0 !important;
}

.cover-overlay {
  display: flex;
  padding: 8em 0em !important;
  margin-top: 50px !important;
  background: rgba(0,0,0,0.25) !important;
  min-height: 100vh;
  align-items: center;
}

.cover-title {
  color: white !important;
  width: 50% !important;
  margin: auto !important;
  font-size: 5.5em !important;
  font-weight: 800;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  margin-bottom: 0 !important;
  letter-spacing: 2px;
  padding-bottom: 0 !important;
}

.cover-subtitle {
  color: white !important;
  margin-top: 0.7rem !important;
  word-spacing: 3px;
}